/* Tags */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #301F00;

    overflow-x: hidden;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 66.4px;
    color: #FCEED1;
    justify-self: center;

    font-family: "Instrument Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 4px #424242;
}

p {
    font-size: 26.8px;
    color: #FCEED1;
    margin: 1rem;

    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

.titulos {
    justify-self: center;
    color: #cca049;
    font-weight: 700;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulos::before {
    content: "•";
    margin-right: 8px;
}

header > img {
    height: 12rem;
}

#btn-carrossel {
    filter: drop-shadow(0 0 0 2px #000000);
    background-color: #f3f3f3;
    color: #0A0502;
    border-radius: 24px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
    
    position: relative;
    overflow: hidden;

    transition: all 0.3s ease;
    top: 1rem;
}

.btn-text {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(0);
    opacity: 1;
  }
  
  .btn-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-150%, -50%); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  #btn-carrossel:hover .btn-text {
    transform: translateX(150%);
    opacity: 0;
  }
  
  #btn-carrossel:hover .btn-icon {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

.button-carrossel {
    max-width: 95vw;
    display: flex;
    justify-content: flex-end;
}