/* Tags */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #301F00;

    overflow-x: hidden;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 66.4px;
    color: #FCEED1;
    justify-self: center;

    font-family: "Instrument Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 4px #424242;
}

p {
    font-size: 26.8px;
    color: #FCEED1;
    margin: 1rem;

    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

.titulos {
    justify-self: center;
    color: #cca049;
    font-weight: 700;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulos::before {
    content: "•";
    margin-right: 8px;
}

header > img {
    height: 12rem;
}